{% load staticfiles %}
<html>
<head>

	<title>Welcome</title>
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

    {% block content%}

<br><h1 align = "center" style = "font-family: ‘Palatino Linotype’; font-size:70px;">BLOG  </h1></br>   
<body style = "font-family: ‘Palatino Linotype';"> 

<br>
<a href="/search">
  <img src="/static/search.png/" alt="Search" style="width:30px;height:30px;border:0;">
</a>


<div class = "col-sm-6 col-sm-offset-3">
{% for object in object_list %}

  <div class="col-sm-12 col">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{object.title }} <small>{{object.timestamp|timesince}} ago</small></h3>
        <p>{{object.content|linebreaks }}</br></p>
        <p><a href="/{{object.id}}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>

{% endfor %}

<div class = "col-sm-offset-5" style = "font-family: ‘Palatino Linotype’; font-size:20px;"class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}"><==</a>
        {% endif %}

        <span class="current">
            {{ object_list.number }} of {{ object_list.paginator.num_pages }}
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">==></a>
        {% endif %}
    </span>
</div>
</div>

</body>

</html>
{% endblock %}





