{% extends "index.html"%}
{% block content %}
<html>
<head>
<script src="https://unpkg.com/react@15.3.0/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.0/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js"></script>
</head>

<body>

<div class = "col-sm-6 col-sm-offset-3">
	<div class="col-sm-12 col">
    <div class="thumbnail">
      <div class="caption">
<h1 align="center">{{instance.title }}</h1><br>
<h4 align="center">{{ instance.content }}</h4><br>
<p align = "center"> Uploaded: {{ instance.timestamp }} <br> Updated: {{ instance.updated }} <br></p>

<div id="content"></div>
    <script type="text/babel" src="/static/comment.js"></script>
    <script type="text/babel">
      
    </script>

</div>
</div>
</div>
</div>
</div>


</body>

{% endblock %}

</html>
